.modal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .forumularioinicio {
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
    }

}